In [1]:
# Importo archivo CSV
archivo <- "/Users/Andy/Desktop/Win10/UTEC/2019/Semestre 6/AD:DS/Semana1/compras/compras2018_1ero.csv"

In [2]:
# Cargo datos del archivo
datos <- read.csv(archivo)

Warning message in file(file, "rt"):
"no fue posible abrir el archivo '/Users/Andy/Desktop/Win10/UTEC/2019/Semestre 6/AD:DS/Semana1/compras/compras2018_1ero.csv': Invalid argument"

ERROR: Error in file(file, "rt"): no se puede abrir la conexión

In [3]:
# Imprimo primeras filas del CSV
head(datos)

ERROR: Error in head(datos): objeto 'datos' no encontrado

In [37]:
# Importar libreria dplyr
library(dplyr)
install.packages("tidyverse")

The downloaded binary packages are in
	/var/folders/ly/95h1nybs1bqbfq40d29xnmdc0000gn/T//Rtmpfy4vl3/downloaded_packages

In [31]:
# Selecciona solamente las columnas Anio_Compra, id_moneda_monto_adj, id_ue, monto_adj,  
dataSelect <- select(datos, anio_compra, id_inciso,id_moneda_monto_adj, id_ue, monto_adj);

In [32]:
# Imprimo primeras filas del CSV
head(dataSelect)

  anio_compra id_inciso id_moneda_monto_adj id_ue monto_adj
1 2017        26        1                    31     17910.00
2 2017        29        0                   103     12195.03
3 2017        26        0                    16     12468.40
4 2017        25        0                     1         0.00
5 2017        12        0                   103     13908.00
6 2017        26        0                    16   1679118.94

In [55]:
#Agrupamos los datos 

# group_by(dataSelect, dataSelect$id_ue)
datosOrdenados <-dataSelect %>% group_by(id_inciso,id_ue) %>% summarise(monto = mean(monto_adj))
f<-arrange(datosOrdenados, desc(monto))
head(f, 20)

   id_inciso id_ue monto
1  98         1    6965584
2  53         1    6471876
3  50         1    6223397
4  97         1    4380698
5  93         1    2890499
6  80         1    2875297
7  94         1    2698522
8  88         1    2514000
9  26         9    2464962
10 26        10    2247193
11 29        26    2118769
12 84         1    1845486
13 29        21    1843097
14 85         1    1774722
15 26        19    1701505
16 51         1    1669591
17 29         4    1511441
18 15         2    1121870
19  1         2    1100001
20 83         1    1054397

In [27]:
archivo_xml = "/Users/Andy/Desktop/Win10/UTEC/2019/Semestre 6/AD:DS/Semana1/compras/reporteUnidadesEjecutoras.do.xml"
# Activate the `XML` library
#library(XML)
library(xml2)
# Parse the XML file
xmlfile <- read_xml(archivo_xml)
print(xmlfile)

{xml_document}
<unidades-ejecutoras>
 [1] <unidad-ejecutora id-inciso="1" id-ue="1" nom-ue="Cámara de Senadores"/>
 [2] <unidad-ejecutora id-inciso="1" id-ue="2" nom-ue="Cámara de Representant ...
 [3] <unidad-ejecutora id-inciso="1" id-ue="3" nom-ue="Comisión Administrativ ...
 [4] <unidad-ejecutora id-inciso="2" id-ue="1" nom-ue="Presidencia  de la Rep ...
 [5] <unidad-ejecutora id-inciso="2" id-ue="3" nom-ue="Casa Militar"/>
 [6] <unidad-ejecutora id-inciso="2" id-ue="4" nom-ue="Oficina de Planeamient ...
 [7] <unidad-ejecutora id-inciso="2" id-ue="5" nom-ue="NO VIGENTE - Dirección ...
 [8] <unidad-ejecutora id-inciso="2" id-ue="6" nom-ue="Unidad Reguladora de S ...
 [9] <unidad-ejecutora id-inciso="2" id-ue="7" nom-ue="Instituto Nacional de  ...
[10] <unidad-ejecutora id-inciso="2" id-ue="8" nom-ue="Oficina Nacional del S ...
[11] <unidad-ejecutora id-inciso="2" id-ue="9" nom-ue="Unidad Reguladora de S ...
[12] <unidad-ejecutora id-inciso="2" id-ue="10" nom-ue="AGESIC"/>
[13] <unidad-ejecutora id-inciso="2" id-ue="11" nom-ue="Secretaría  Nacional  ...
[14] <unidad-ejecutora id-inciso="3" id-ue="1" nom-ue="Dirección General de S ...
[15] <unidad-ejecutora id-inciso="3" id-ue="3" nom-ue="Estado Mayor de la Def ...
[16] <unidad-ejecutora id-inciso="3" id-ue="4" nom-ue="Comando General del Ej ...
[17] <unidad-ejecutora id-inciso="3" id-ue="18" nom-ue="Comando General de la ...
[18] <unidad-ejecutora id-inciso="3" id-ue="23" nom-ue="Comando General de la ...
[19] <unidad-ejecutora id-inciso="3" id-ue="30" nom-ue="Ex-Dirección Nacional ...
[20] <unidad-ejecutora id-inciso="3" id-ue="31" nom-ue="Ex-Dirección General  ...
...